@import 'variables';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

.header {
    background-color: $primary-color;
    color: $text-light-color;
    padding: 2rem;
    text-align: center;

    h1 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1.2rem;
    }
}

.main-content {
    padding: 2rem;

    section {
        margin-bottom: 2rem;
    }
    
    .textinfo {
        h2 {
            color: $primary-color;
            margin-bottom: 15px;
        }

        p {
            color: $text-dark-color;
            font-size: 1.1rem;
            line-height: 1.6;
        }
    }
    
    .images-section img {
        max-width: 100%;
        height: auto;
        border: 5px solid $primary-color;
    }
    
    .cards-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            margin: 10px;
            width: calc(25% - 20px); 

            .card-img-top {
                max-width: 100%;
                height: auto;
                border: 5px solid $primary-color;
            }

            .card-body {
                h5 {
                    color: $primary-color;
                }
                p {
                    color: $text-dark-color;
                }
            }
        }
    }

    .video-section {
        text-align: center;
        margin: 20px 0;

        iframe {
            max-width: 100%;
            border: 2px solid $primary-color;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 10px;
        }
    }
}

footer {
    background-color: $primary-color;
    color: $text-light-color;
    text-align: center;
    padding: 1rem;
}